<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.root.main.alarmandmusic" >


    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.root.alarms.AlertActivity">

        </activity>

        <service android:name="com.example.root.musicNav.MusicService"></service>
        <activity android:name="com.example.root.blurringView.ActivityTest"></activity>

        <provider
            android:authorities="com.example.root.alarmModel.contentprovider"
            android:name="com.example.root.alarmModel.AlarmsContentProvider"></provider>
        <receiver android:name="com.example.root.alarmModel.AlarmInitReceiver">
            <intent-filter>
                <action android:name="com.zhanglei.alarms.TIME_SET"></action>
            </intent-filter>
        </receiver>


        <receiver android:name="com.example.root.alarmModel.AlarmReceiver">
            <intent-filter>
                <action android:name="com.zhanglei.alarmandmusic.ALARM_ALERT"></action>
                <action android:name="cancel_snooze"></action>
            </intent-filter>
        </receiver>

        <service android:name="com.example.root.alarms.AlarmService">
            <intent-filter>
                <action android:name="com.zhanglei.alarmandmusic.ALARM_ALERT"></action>
            </intent-filter>
        </service>
    </application>

</manifest>
